rules_version = '2';

service cloud.firestore {
  function isOwner(userId) {
    return request.auth != null && request.auth.uid == userId;
  }

  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if isOwner(userId);

      allow create: if isOwner(userId)
                    && request.resource.data.role == "member"
                    && request.resource.data.email == request.auth.token.email;

      allow update: if isOwner(userId)
                    && request.resource.data.role == resource.data.role
                    && request.resource.data.email == resource.data.email;

      allow delete: if isOwner(userId);
    }
  }
}
